<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title> Crondots: Linear time modeling </title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <style>
            body {
                margin: 0.8em;
            }
            .timeline-title {
                text-align: center;
            }
            .banner.actions {
                text-align: right;
            }
        </style>
    </head>

    <body>
        <h2> Crondots: Linear time modeling </h2>
        <div id="content">
            <p>
                Nada: [[.Nada]]
            </p>
            <div id="index"></div>
        </div>

        <!-- Load require -->
        <script data-main="static/app" src="static/lib/require.js"></script>

        <script id="home-template" type="text/x-handlebars-template">
          <p> Welcome to crondots.  This site is dedicated to the creation of timelines from various sources.</p>
          <ul>
              {{#each timelines}}
              <li><a href="#/{{this}}">{{this}}</a></li>
              {{/each}}
          </ul>
        </script>

        <script id="timeline-template" type="text/x-handlebars-template">
          <h5 class="timeline-title"> {{title}} </h5>
          <div class="banner actions">
              <a href="#/home">Home</a>
              <span> | </span>
              <a href="#/{{id}}/edit">Edit</a>
          </div>
          <div class="timeline"></div>
        </script>
    </body>
</html>