<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title> Crondots: Linear time modeling </title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <style>
            body {
                margin: 0.8em;
            }
        </style>
    </head>

    <body>
        <h2> Crondots: Linear time modeling </h2>'
        <div id="content">
            <p>
                Nada: {{.Nada}}
            </p>
            <div id="index"></div>
        </div>

        <div id="visualization"></div>

        <!-- Load require -->
        <script data-main="static/app" src="static/lib/require.js"></script>

        <script id="home" type="text/x-handlebars-template">
          <p> Welcome to crondots.  This site is dedicated to the creation of timelines from various sources.
        </script>
    </body>
</html>